:root {
	--animate-delay: 0;
}

.animate__animated.animate__bounceOutRight {
	--animate-duration: 0.5s;
}


.animate__animated.animate__slideInUp {
	--animate-duration: 0.2s;
}

.animate__animated.animate__slideOutDown {
	--animate-duration: 0.2s;
}

.mainwin {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 97%;
	/* display: flex; */
	/* flex-direction: row; */
	/* justify-content: center; */
	/* align-items: center; */
}

.taskbar {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 3%;
	min-height: 30px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.open-windows {
	width: 88%;
}

.clock-tray {
	user-select: none;
	cursor: default;
	outline: solid 1px rgba(0, 0, 0, 0.3);
}

.clock-tray p {
	margin-top: 5px;
	padding-left: 10px;
	padding-right: 20px;
	font-size: 1.2em;
}

.vertical-line {
	margin-left: 2px;
	background-color: rgba(0, 0, 0, 0.3);
	height: 100%;
	width: 2px;
}

.taskbar-button {
	margin-left: 5px;
	height: 100%;
}

.start-button {
	padding-left: 7px;
	padding-right: 5px;
	display: flex;
}

.start-button:hover {
	cursor: pointer;
}

.start-button:active {
	transform: translateY(1px);
}

.startmenucontainer {
	position: fixed;
	z-index: 0;
	bottom: 34px;
	left: 3px;
	width: 220px;
	height: 360px;
	overflow: hidden;
}

.startmenu {
	display: none;
	position: absolute;
	width: 96%;
	height: 98%;
}

.win98name {
	position: absolute;
	transform-origin: 0 0;
	transform: rotate(-90deg) scale(1.5);
	bottom: -12px;
	width: 235px;
}

.startmenucontent {
	position: absolute;
	width: 100%;
	left: 29px;
	top: 4px;
}

.startmenuitem {
	user-select: none;
	width: 175px;
	display: flex;
	flex-direction: column;
	font-size: 1.3em;
	padding-left: 10px;
}

.startmenuitem:hover {
	outline: solid 1px black;
	background-color: darkblue;
	color: white;
	cursor: default;
}


.startmenuitem:active {
	outline: outset 2px black;
}

.startmenuitem p::after {
	content: "▶";
	position: absolute;
	transform: scale(0.8, 1) translateY(9px);
	right: 42px;
}

.startmenuitem p::first-letter {
	vertical-align: middle;
	font-size: 1.8em;
}
